<!doctype html>
<html>
    <head>
        <style>  
            div.messages {   
              border: 1px solid black;  
              width: 750px;
              word-break: break-all;
              white-space: normal; 
            }
            div.answer {   
              border: 2px solid red;  
              width: 1500px;
              word-break: break-all;
              white-space: normal; 
            }
        </style>
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>ChatGPT Scanner</title>
        {% endif %}
    </head>
    <body>
        <div><a href="/home">Home</a> | <a href="/code">Analyzer</a> | <a href="/clear">Clear Chat Log</a></div>
        <br>
        {% block content %}{% endblock %}
    </body>
</html>
